.custom-dropdown {
	position: relative;
	display: inline-block;
	font-size: 14px;
}



.dropdown-toggle {
	background-color:#e8e7e6; // #0073aa;
	color: black;
	padding: 6px 15px 6px 15px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;

	&:after{
		content: '▼';
		transition: transform 0.3s ease;
	}
}

.dropdown-icon {
	margin-left: 10px;
	transition: transform 0.3s ease;
}

.tag-dropdown-menu {
	display: none;
	position: absolute;
	top: 40px;
	background-color: #37383f;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin: 0;
	list-style: none;
	border-radius: 4px;
	z-index: 1000;
	min-width: 230px;

	border: 3px solid #6a6a6a;

	&.right{
		right: 0;
	}

	&:before{
		content: '';
		position: absolute;
		bottom: 100%;
		right: 14px;
		display: inline-block;
		width: 12px;
		height: 12px;
		border-style: solid;
		border-color: #6a6a6a;
		background-color: #37383f;
		border-width: 3px 3px 0 0;
		transform: translateY(4px) rotate(-45deg);


	}
}

.dropdown-item {
	position: relative;
	padding: 8px 2px 8px 16px;

	&:after{
		width: 18px;
		height: 9px;
	}

	&:hover {
		background-color: #484a54;
		color: #3e98cf;
	}

	a {
		text-decoration: none;
		color: var(--primary-color, #fff);
		display: flex;
		align-items: center;

		span{
			flex: 1;
		}

		&:hover{
			color: #3e98cf;

			.arrow{
				animation: btnMainArrowRight 1s infinite;
			}
		}

		@include respond('medium'){
			padding-left: 20px;
			padding-right: 5px;
		}
	}

	&.all{
		background: #0a3e83;

		.tag-icon{
			height: 16px;
		}
		svg{
			fill: #fff;
		}
		a{
			color: #fff;
		}
	}
}
.tag-dropdown-menu li.all:hover a{
	color: #fff
}
.dropdown-toggle.show{
	&:after {
		transform: rotate(180deg);
	}
}
.tag-dropdown-menu.show {
	display: block;
}

.light{
	.tag-dropdown-menu{
		background-color: white;
		border: 3px solid #bababa;

		li:hover a{
			color: #000;
		}
		li.all:hover a{
			color: #fff;
		}

		&:before{
			border-color: #bababa #bababa transparent transparent;
			background-color: #fff;
		}
	}
	.dropdown-item:not(.all){
		&:hover{
			background-color: #f0f1f5;
			color: #000;
		}
	}
	.dropdown-item.all .icon-arrow-right:after{
		background-image: url(../images/icon-right-arrow.svg);
	}
}
